* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #001a33;
}

header {
  background-color: #77b3ac;
}

.container {
  border: 1px red solid;
  background-color: #77b3ac;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 0px;
  margin: auto;
  width: 100%;
}

.container .heading {
  font-size: 80px;
  font-weight: 600;
  color: #001a33;
}

.container hr {
  width: 400px;
  border: none;
  border-bottom: 2px white solid;
}

.container .description {
  font-weight: 600;
  margin: 10px 0px;
  color: #001a33;
}

main {
  font-family: 'Raleway', sans-serif;
  background-color: #001a33;
  padding: 10px;
}

.timeline {
  max-width: 100%;
  margin: 40px 14px;
  position: relative;
}

.timeline::after {
  content: "";
  width: 4px;
  background-color: #77b3ac;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
}

.timeline ul {
  list-style: none;
}

.company {
  width: 50%;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  position: relative;
}

.company.left {
  flex-direction: row-reverse;
  left: 0;
}

.company.left::after {
  content: "";
  width: 30px;
  height: 4px;
  background-color: #77b3ac;
  position: absolute;
  top: 44px;
  right: 0;
}

.company.left .content {
  justify-content: center;
  align-items: flex-end;
  text-align: end;
}

.company.right {
  left: 50%;
}

.company.right::after {
  content: "";
  width: 30px;
  height: 4px;
  background-color: #77b3ac;
  position: absolute;
  top: 44px;
  left: 0;
}

.company .icon {
  display: block;
  width: 54px;
  height: 54px;
  padding: 8px 10px 10px;
  background-color: #fff;
  color: #001a33;
  text-align: center;
  border-radius: 8px;
  font-size: 18px;
}

.company.left .icon {
  margin-right: 30px;
}

.company.right .icon {
  margin-left: 30px;
}

.company .content {
  margin: 0px 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.company .content .year {
  color: #ff3333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 32px;
  font-weight: bold;
}

.company .content .title {
  color: #77b3ac;
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 6px;
}

.company .content .info {
  color: #fff;
}

.timeline .company:first-child::before {
  content: "";
  width: 32px;
  height: 32px;
  background-color: #77b3ac;
  border-radius: 50%;
  position: absolute;
  top: -32px;
  right: -18px;
}

.timeline .company:last-child::before {
  content: "";
  width: 32px;
  height: 32px;
  background-color: #77b3ac;
  border-radius: 50%;
  position: absolute;
  bottom: -32px;
  left: -15px;
}

@media screen and (max-width: 600px) {
  .container .heading {
    font-size: 20vw;
  }

  .container hr {
    width: 100%;
  }

  .timeline::after {
    left: 14px;
  }

  .company {
    width: 100%;
  }

  .company.left,
  .company.right {
    left: 0px;
  }

  .company.left {
    flex-direction: row;
  }

  .company.left .icon {
    margin-right: 0;
    margin-left: 44px;
  }

  .company.left .content {
    justify-content: center;
    align-items: flex-start;
    text-align: start;
  }

  .company.left::after {
    left: 14px;
  }

  .company.right .icon {
    margin-right: 0;
    margin-left: 44px;
  }

  .company.right::after {
    left: 14px;
  }

  .company.left:first-child::before {
    left: 0px;
  }

  .company.right:last-child::before {
    left: 0px;
  }

  .company .content .year {
    font-size: 8vw;
  }

  .company .content .title {
    font-size: 6vw;
  }

  .company .content .info {
    font-size: 14px;
  }
}