* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.icon {
  font-size: 40px;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  padding: 30px;
  width: 100%;
  height: 70px;
  color: #fff;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.items ul {
  display: flex;
}

.items a {
  margin: 0px 5px;
  color: #fff;
  padding: 10px 20px;
}

.items a:hover {
  border-bottom: 2px solid #ff2500;
}