@media screen and (max-width: 768px) {
  #home-page {
    height: 90vh;
  }

  .nav-bar {
    height: 120px;
  }
  
  .container1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 4px;
  }
  
  .nav-bar ul {
    width: 90%;
    margin: 14px 0 4px;
  }

  .nav-bar ul li {
    width: 100%;
  }

  .nav-bar ul li a {
    padding: 0;
    border-radius: 6px;
  }
  
  .container2 {
    width: 90%;
  }
  
  .heading {
    line-height: 3rem;
  }
  
  #home-container .img-info {
    display: none;
  }
  
  #home-container .content-info {
    float: none;
    width: 100%;
  }
  
  #features-container .features {
    flex-direction: column;
  }

  .about-box {
    width: 90%;
    flex-direction: column-reverse;
  }
  
  .about-content {
    width: 100%;
  }
  
  .about-content h2 {
    text-align: center;
  }
  
  .about-img {
    width: 100%;
    margin: auto;
  }

  .about-img img {
    width: 100%;
  }

  .review-class .heading,
  .review-box {
    width: 90%;
  }

  .contact-container {
    width: 90%;
  }
  
  form input, form textarea {
    width: 100%;
  }
  
  .details {
    flex-direction: column;
  }
}