@media screen and (max-width: 1024px) {
  #header .navbar .container ul {
    grid-template-columns: repeat(8, 1fr);
  }

  #header .navbar .container ul li:nth-child(9),
  #header .navbar .container ul li:nth-child(10) {
    display: none;
  }

  #foot-bar .container {
    grid-template-columns: 1fr 1fr;
  }

  #foot-bar .container .copyright {
    grid-column: 1 / span 2;
  }
}

@media screen and (max-width: 768px) {
  #header .navbar .container ul {
    grid-template-columns: repeat(6, 1fr);
  }

  #header .navbar .container ul li:nth-child(7),
  #header .navbar .container ul li:nth-child(8) {
    display: none;
  }

  #foot-bar .container {
    grid-template-columns: 1fr 1fr;
  }

  #foot-bar .container .copyright {
    grid-column: 1 / span 2;
  }

  #main-area .container {
    grid-template-columns: repeat(2, 1fr);
  }

  #main-area .container .article {
    height: 420px;
  }
}


@media screen and (max-width: 580px) {
  #header .navbar .container ul {
    grid-template-columns: repeat(4, 1fr);
  }

  #header .navbar .container ul li:nth-child(5),
  #header .navbar .container ul li:nth-child(6) {
    display: none;
  }

  #main-area,
  #foot-bar .container {
    width: 85%;
  }

  #main-area .container .article {
    height: 420px;
  }

  #foot-bar .container,
  #main-area .container {
    grid-template-columns: 1fr;
  }

  #foot-bar .container .copyright {
    grid-column: 1 / span 1;
  }

  #foot-bar .container>* {
    border-bottom: 1px #333 solid;
  }

  #foot-bar .container>*:nth-child(4),
  #foot-bar .container>*:last-child {
    border-bottom: none;
  }
}

@media screen and (max-width: 400px) {
  #main-area,
  #foot-bar .container {
    width: 95%;
  }
}