* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e5f5f5;
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

#header {
  background-color: #00182d;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
}

#header .headbar .container {
  width: 214px;
  margin: auto;
  padding: 12px 0px;
  display: flex;
  justify-content: space-between;
}

#header .headbar .container .image {
  margin-top: 3px;
  width: 32px;
  height: 32px;
}

#header .headbar .container .title {
  font-family: 'Solway', serif;
  color: #00fff9;
}

#header .navbar {
  background-color: #00fff9;
}

#header .navbar .container {
  width: 75vw;
  margin: auto;
}

#header .navbar .container ul {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  overflow: hidden;
}

#header .navbar .container ul li {
  transition: all 400ms ease;
  border-bottom: 3px #00fff9 solid;
}

#header .navbar .container ul li.current {
  border-bottom-color: #00182d;
}

#header .navbar .container ul li:hover {
  background-color: #00c8c8;
  border-bottom-color: #00c8c8;
}

#header .navbar .container ul li a {
  display: block;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  color: #00182d;
}

#main-area {
  width: 75%;
  padding: 20px 0px 20px;
  margin: auto;
}

#main-area .heading {
  color: #00182d;
  padding: 10px 0px;
}

#main-area .container {
  margin: 18px 0px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 14px;
}

#main-area .container .article {
  background-color: #fff;
  padding: 10px;
  width: auto;
  height: 360px;
  overflow: hidden;
  box-shadow: 1px 1px 4px #333;
  border-radius: 4px;
}

#main-area .container .article .image {
  width: 100%;
  height: 75%;
  overflow: hidden;
}

#main-area .container .article .image img {
  height: 100%;
  object-fit: cover;
  transition: all 800ms ease;
}

#main-area .container .article .image img:hover {
  transform: scale(1.1);
}

#main-area .container .article .info {
  padding: 10px 0px;
  font-size: 18px;
  font-weight: 500;
}

#main-area .container .article .info a {
  display: inline-block;
  width: 100%;
  color: #000;
}

#main-area .container .article .info a:hover {
  color: #003366;
}

#foot-bar {
  background-color: #00182d;
}

#foot-bar .container {
  width: 75%;
  margin: auto;
  color: #fff;
  display: grid;
  overflow: hidden;
  grid-template-columns: 1.4fr 1.4fr 1fr 1fr;
}

#foot-bar .container .feature {
  padding: 14px;
}

#foot-bar .container .feature .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#foot-bar .container .feature .logo .title {
  font-family: 'Solway', serif;
  padding: 0px 10px;
  color: #00fff9;
}

#foot-bar .container .feature .logo .image {
  width: 28px;
  height: 28px;
}

#foot-bar .container .feature .content {
  margin: 10px 0px;
}

#foot-bar .container .subscribe {
  text-align: center;
  padding: 14px;
}

#foot-bar .container .subscribe input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 14px 0px 0px;
  border: 2px #fff solid;
  border-radius: 4px;
  outline: none;
  font-size: 14px;
}

#foot-bar .container .subscribe input:focus {
  border: 2px #ff0006 solid;
}

#foot-bar .container .subscribe input[type='submit'] {
  background-color: #00ff7a;
  margin-top: 4px;
  border: none;
  border-radius: 4px;
  outline: none;
  font-weight: bold;
  color: #00182d;
  cursor: pointer;
}

#foot-bar .container .subscribe input[type='submit']:hover {
  background-color: #34aa6d;
}

#foot-bar .container .follow {
  padding: 14px;
  text-align: center;
}

#foot-bar .container .icons {
  margin-top: 18px;
}

#foot-bar .container .icons .icon {
  display: inline-block;
  margin: 4px;
}

#foot-bar .container .icons .icon i {
  cursor: pointer;
}

#foot-bar .container .follow .icons i.fa-facebook:hover {
  color: #3b7998;
}

#foot-bar .container .follow .icons i.fa-twitter:hover {
  color: #1da1f2;
}

#foot-bar .container .follow .icons i.fa-instagram:hover {
  color: #c32aa3;
}

#foot-bar .container .follow .icons i.fa-youtube:hover {
  color: #ff0000;
}

#foot-bar .container .app {
  padding: 14px;
  text-align: center;
}

#foot-bar .container .app .icons .icon {
  margin: 4px 10px;
}

#foot-bar .container .app .icons i.fa-android:hover {
  color: #a4c639;
}

#foot-bar .container .app .icons i.fa-apple:hover {
  color: #a6b1b7;
}

#foot-bar .container .copyright {
  background-color: #002f42;
  margin: 10px 0px 0px;
  padding: 18px;
  text-align: center;
  font-weight: 500;
  grid-column: 1 / span 4;
}

#article-area .article-card {
  background-color: #fff;
  width: 75vw;
  margin: 30px auto;
  padding: 20px 5px;
}

#article-area .article-card .title h1 {
  font-size: 32px;
  font-weight: 500;
  color: #00182d;
}

#article-area .article-card .info {
  margin: 14px 0px;
  display: flex;
  align-items: center;
}

#article-area .article-card .info .box {
  padding: 4px 8px;
  font-size: 14px;
  font-weight: 700;
}

#article-area .article-card .info .box p a {
  color: #000;
  font-style: italic;
  border-bottom: 1px #000 dotted;
}

#article-area .article-card .info .box p:last-child {
  color: #4f4f4f;
  padding-top: 4px;
}
