* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.icon {
  font-size: 40px;
}

.primary-text {
  color: #ff2500;
}

.btn {
  background-color: #ff2500;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin: 40px;
  padding: 10px 30px;
}

.btn:hover {
  opacity: 0.8;
}

header {
  background: #fff url("./img/backdrop.jpg") no-repeat center center / cover;
  position: relative;
  width: 100%;
  height: 100vh;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 70px;
  color: #fff;
  position: fixed;
  top: 0%;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.title h1 {
  font-weight: 400;
}

#navbar .items ul {
  display: flex;
}

#navbar .items a {
  margin: 0px 10px;
  color: #fff;
  padding: 10px 10px;
  font-size: 18px;
}

#navbar .items a:hover {
  border-bottom: 2px solid #ff2500;
}

header .content {
  color: white;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0px 20px;
  margin: 0px 20px;
  line-height: 1.6;
}

header .content h1 {
  font-weight: 400;
  font-size: 4rem;
}

header .content p {
  font-weight: 400;
  font-size: 1.4rem;
}

header::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
}

header * {
  z-index: 10;
}

#features {
  font-size: 18px;
  display: flex;
  flex-flow: row no-wrap;
  justify-content: space-around;
  padding: 20px 5px 40px;
}

.feature-box {
  text-align: center;
  height: 100%;
  padding: 15px;
  line-height: 1.4;
}

.feature-box h3 {
  padding: 10px;
}

.feature-box .icon {
  padding: 20px;
  margin: 10px 0px;
  background-color: #ff2500;
  color: #fff;
  border-radius: 50%;
}

#about {
  display: flex;
  font-size: 20px;
  flex-flow: row nowrap;
  justify-content: space-between;
}

#about .content {
  background-color: #ff2500;
  color: #fff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  width: 60%;
}

#about .content h1 {
  font-size: 2.5rem;
  color: #000;
}

#about .content p {
  padding: 0px 20px;
}

#about .content a {
  color: #ff2500;
  display: inline-block;
  background-color: #fff;
  margin: 0px;
  width: fit-content;
}

#about .content * {
  margin: 20px 0px;
}

#about img {
  width: 40%;
  object-fit: cover;
}

#team {
  text-align: center;
  padding: 10px;
}

#team .heading {
  font-size: 1.5rem;
  margin: 20px 0px 30px;
}

#team .heading * {
  padding: 10px 0px;
}

#team .person-box {
  display: flex;
  flex-flow: row no-wrap;
  justify-content: space-around;
  width: 100%;
  padding: 10px;
  overflow: auto;
}

#team .person {
  padding: 10px;
}

#team .person h3 {
  padding-bottom: 8px;
  font-size: 1.6rem;
}

#team img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  padding: 10px;
  margin-bottom: 18px;
  background-color: #ff2500;
  border-radius: 50%;
}

#team .heading h1 {
  color: #ff2500;
}

#contact {
  display: flex;
}

#contact img {
  object-fit: cover;
  width: 40%;
}

#contact .content {
  background-color: #e6e7e6;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}

#contact form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#contact .content h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

#contact form input {
  font-size: 14px;
  width: 75%;
  padding: 10px;
  border: 1px #fff solid;
  outline: none;
  margin: 10px 0px;
}

#contact form input:focus {
  border: 1px #ff2500 solid;
}

#contact form input[type="submit"] {
  text-align: center;
  width: 75%;
  padding: 10px;
  margin: 10px 0px;
  background-color: #ff2500;
  border: none;
  color: #fff;
}

footer {
  background: #2f2f2f;
  color: #fff;
  text-align: center;
  padding: 20px 10px;
}

footer .icons {
  padding: 10px;
}

footer .icons i {
  padding: 0px 10px;
}

footer .icons i:hover {
  color: #ff2500;
}

footer .note {
  padding: 10px;
}

@media screen and (max-width: 500px) {
  #navbar .items a {
    padding: 0px;
    margin: 0px;
  }
}

@media screen and (max-width: 768px) {
  #navbar {
    flex-direction: column;
  }

  #navbar .items {
    margin: 20px 0px;
  }

  #navbar .items a {
    padding: 5px;
  }

  header .content h1 {
    line-height: 1.2;
    margin-top: 80px;
  }

  #features {
    flex-direction: column;
  }

  #about {
    flex-direction: column-reverse;
  }

  #about img, #about .content {
    width: 100%;
  }

  #team .person-box {
    flex-direction: column;
  }

  #contact {
    flex-direction: column;
  }

  #contact img {
    width: 100%;
  }

  #contact form input,
  #contact form input[type="submit"] {
    width: 100%;
  }
}